.users {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.users-list__item {
  padding: 40px 0;
  background-color: #333348;
  border-radius: 40px;
  text-align: center;
  width: calc((100% - 30px) / 2);
  height: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    padding: 75px 0;
  }
}

.text {
  @include font(400, 12px, 20px);

  @media screen and (min-width: 768px) {
    font-size: 1.3em;
    line-height: 1.3em;
    @include font(400, 21px, 30px);
  }
}

.users-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  margin: 30px auto 0;
  padding: 5px 0;
  background: #52519d;
  border: none;
  border-radius: 40px;
  @include font(600, 15px, 30px);
  color: #eeeeee;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 248px;
    margin: 20px auto 0;
    padding: 20px 0;
    @include font(600, 24px, 30px);
  }

  @media screen and (min-width: 1200px) and (max-width: 1499px) {
    width: 220px;
  }
}
